.timer-container {
    position: absolute;
    top: 90px;
    right: 80px;
  }
  
  .timer {
    font-size: 24px;
    font-weight: bold;
  }
  
  .button-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  .choice{
    margin: 10px 100px;
  }